alignment/*.fasta
!alignment/seq.fasta
alignment/*.sh
doc/*.dat
doc/alignment.tex
doc/date.txt
doc/funBi.aux
doc/funBi.bbl
doc/funBi.blg
doc/funBi.dvi
doc/funBi.log
doc/funBi.pdf
doc/funBi.ps
doc/funBi.toc
doc/genome.tex
doc/latex.tex
doc/unix.tex
doc/version.txt
genome/*.sh
genome/md5sum.txt
genome/mg.fna
genome/mg.gff
genome/ncbi_dataset*
genome/README.md
genome/drawGenes.awk
genome/genes.txt
genome/mgGenome.*
latex/*.sh
latex/*.tex
latex/hello.*
latex/*.dat
unix/*.sh