alignment/*.fasta
!alignment/seq.fasta
doc/*.dat
doc/alignment.tex
doc/date.txt
doc/funBi.aux
doc/funBi.bbl
doc/funBi.blg
doc/funBi.dvi
doc/funBi.log
doc/funBi.pdf
doc/funBi.ps
doc/funBi.toc
doc/genome.tex
doc/latex.tex
doc/unix.tex
doc/version.txt
genome/md5sum.txt
genome/mg.fna
genome/mg.gff
genome/ncbi_dataset*
genome/README.md
genome/genes.txt
genome/mgGenome.*
!genome/mgGenome.tex
latex/*.sh
!latex/cli.sh
latex/*.tex
latex/hello.*
!latex/hello.tex
latex/*.dat
unix/*.sh